package view

import (
    "github.com/axseem/blomple/database"
)

templ Article(article database.Article){
    <html>    
        <head>
            <a href="/">back</a>
        </head>
        <h1>{article.Title}</h1>
        <div class="content">{article.Content}</div>
    </html>
}