package view

import (
    "github.com/axseem/blomple/database"
)

templ Article(article database.Article, content templ.Component){
    @layout() {   
        <a href="/" hx-boost="true">back</a>
        <h1>{article.Title}</h1>
        <div class="content">
            @content
        </div>
    }
}